//main1

/* 元件最外圍 */
.main1{
    width: 100%;
    min-height: calc(100vh - 69px);
    background-color: #000000;
    /* 元件背景 */
    .main1Bg{
        width: 100%;
        height: 100%;
        background-image:url("/images/Bg/main1-bg.png");
        background-repeat:no-repeat;
        background-position: center bottom;
        background-size: 100% 100%;
        position: relative;
        @media (max-width: 1200px){
            background: linear-gradient(90deg, #000000 5%, #850017 100%);
            background-position:bottom right;
        }
        /* 角落貼圖box */
        .cornerImgBox{
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 10;
            aspect-ratio: 30 / 22;
            width: 5%;
            height: auto;
            display: none;
            @media (max-width: 1200px){
                display: block;
            }
            /* 角落貼圖本體 */
            .mainCornerImg{
                width: 100%;
                height: auto;
                object-fit: cover;
            }
            /* 角落貼圖 */
        }
        /* 角落貼圖box */
        
        /* 左邊區塊外框 */
        .main1LeftContent{
            width: 100%;
            height: calc(100vh - 69px);
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            text-align: center;
            row-gap: 48px;
            @media (max-width: 1200px){
                align-items: center;
                padding: 48px 0;
            }
            /* 標題 */
            .main1Title{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 20px;
                @media (max-width: 1200px){
                    align-items: center;
                    gap: 12px;
                }
                /* 標題內文 */
                .main1TitleTextSet{
                    color: #fff;
                    line-height: 1.2;
                    font-weight: 900;
                    font-size: 64px;
                    @media (max-width: 1200px){
                        font-size: 32px;
                    }
                }
                /* 標題內文 */
            }
            /* 標題 */

            /* 連結按鈕 */
            .main1Btn1Set{
                padding: 24px 88px;
                font-size: 24px;
                font-weight: 900;
                @media (max-width: 1200px){
                    padding: 12px 48px;
                    font-weight: 700;
                }
            }
            /* 連結按鈕 */

            /* 圖片外框 */
            .main1LeftImgBox{
                position: relative;
                
                width: 50%;
                height: auto;
                aspect-ratio: 656 / 696;
                min-height: 0; /* 讓它真的能縮 */
                display: flex;
                justify-content: center;
                align-items: center;
                display: none;
                @media (max-width: 1200px){
                    display: block;
                }
                @media (max-width: 768px){
                    width: 80%;
                }
                /* 圖片本體 */
                .main1LeftImg{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
                /* 圖片本體 */
            }
            /* 圖片外框 */
        }
        /* 左邊區塊外框 */

        /* 右邊區塊外框 */
        .main1RightContent{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            /* 圖片外框 */
            .main1RightImgBox{
                position: relative;
                flex: 1 1 auto; /* 關鍵：吃掉剩餘空間 */
                max-width: 100%;
                width: 10%;
                height: auto;
                aspect-ratio: 656 / 696;
                min-height: 0; /* 讓它真的能縮 */
                display: flex;
                justify-content: end;
                align-items: center;
                @media (max-width: 1200px){
                    display: none;
                }
                /* 圖片本體 */
                .main1RightImg{
                    width: 90%;
                    height: 100%;
                    object-fit: cover;
                }
                /* 圖片本體 */
            }
            /* 圖片外框 */
        }
        /* 右邊區塊外框 */
    }
    /* 元件背景 */
}
/* 元件最外圍 */
    





//角落貼圖

