// 元件最外框
.main2{
    width: 100%;
    min-height: calc(100vh - 69px);

    background-image:
        url("/images/Bg/main2/main2-bg-top.png"), 
        url("/images/Bg/main2/main2-bg-sm-bottom.png"),
        linear-gradient(180deg, #000000, #4F000E);
    background-repeat: 
        no-repeat, 
        no-repeat,
        no-repeat;
    background-position:
        top left,
        bottom right,
        center center;
    background-size: 
        auto,
        auto,
        cover;
    @media (max-width: 992px){
        background-image: 
            url("/images/Bg/main2/main2-bg-sm-top.png"), 
            url("/images/Bg/main2/main2-bg-sm-bottom.png"),
            linear-gradient(180deg, #000000, #000000);
        background-size: 
            auto,
            100% 190px,
            cover;
    }
    // 元件外框
    .main2Content{
        width: 100%;
        padding: 64px 0px;
        min-height: calc(100vh - 69px);
        display: flex;
        justify-content: center;
        align-items: center;
        /* 卡片設定 */
        .main2CardSet{
            width: 100%;
            border: none;
            outline: none;
            // 圖片最外框
            .main2CardImgBoxSet{
                width: 100%;
                height: auto;
                aspect-ratio: 1 / 1;
                padding: 36px;
                margin: 0px auto;
                background-color: #000000;
                border: 4px solid;
                border-image: linear-gradient(to right, #F1B1FF, #C10877) 1;
                // 圖片外框
                .main2CardImgBoxInSet{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 1 / 1;
                    // 圖片本體
                    .imgSet{
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                    // 圖片本體
                }
                // 圖片外框
                
            }
            // 圖片最外框

            // 文字外框
            .main2TextBox{
                width: 100%;
                height: auto;
                min-height: 50px;
                max-height: 84px;
                outline: none;
                background: #97003A;
                background-repeat: no-repeat;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                clip-path: polygon(0 0,100% 0,100% 100%,40px 100%,0 calc(100% - 40px));
                @media (max-width: 576px){
                    width: 100%;
                    font-size: 18px;
                    clip-path: polygon(0 0,100% 0,100% 100%,20px 100%,0 calc(100% - 20px));
                }
                // 文字本體
                .main2TextSet{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 20px;
                    font-size: 24px;
                    font-weight: 900;
                    color:#fff;
                    @media (max-width: 1200px){
                        font-size: 24px;
                    }
                    @media (max-width: 576px){
                        font-size: 18px;
                        padding: 15px;
                    }
                }
                // 文字本體
            }
            // 文字外框
        }
        /* 卡片設定 */

        // 連結按鈕
        .mian2CheckBtnBoxSet{
            display: block;
            margin: 0px auto;
            font-size: 24px;
            font-weight: 900;
            padding: 24px 88px;
            @media (max-width: 992px){
                padding: 12px 48px;
            }
        }
        // 連結按鈕
    }
    // 元件外框
}
// 元件最外框






