//main5背景
.main5{
    outline: none;
    border: none;
    background-color:#000000;
    position: relative;
}
//main5背景

// 元件最外框
.main5{
    min-height: calc(100vh - 69px);
    // 元件外框
    .main5Content{
        width: 100%;
        padding: 0px;
        min-height: calc(100vh - 69px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 36px;
        
        @media (max-width: 992px){
            padding: 64px 0;
        }
        // 標題外框
        .main5Title{

            // 標題
            .main5TitleSet{
                font-size: 48px;
                font-weight: 900;
                color: #ffffff;
                text-align: center;
                @media (max-width: 992px){
                    font-size: 32px;
                }
            }
            // 標題
        }
        // 標題外框

        // 輪播最外框
        .swiperBox{
            width: 80%;
            height: 100%;
            margin: 0px auto;
            @media (max-width: 992px){
                width: 80%;
            }
            @media (max-width: 768px){
                width: 80%;
            }

            // 輪播本體
            .indexSwiper{

                //輪播卡片設定
                .main5Card{ 
                    margin: 0 auto;
                    border: 8px solid #8B0018;
                    width: 100%;
                    height: auto;
                    @media (max-width: 1200px){
                        border: 4px solid #8B0018;
                    }
                    //輪播圖片設定
                    .main5CardImgBox{ 
                        position: relative;
                        width: 100%;
                        height: auto;
                        aspect-ratio: 396 / 280;  
                        //圖片
                        .imgSet{
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                        }
                        //圖片
                    }
                    //輪播圖片設定

                    //輪播文字外框
                    .main5CardTextBox{
                        min-height: 300px;
                        height: auto;
                        padding: 12px;
                        border-top: 8px solid;
                        border-image: linear-gradient(90deg, #F1B1FF, #C10877) 1;
                        background-color: #6E002C;
                        @media (max-width: 992px){
                            border-top: 4px solid;
                        }
                        @media (max-width: 768px){
                            min-height: 250px;
                        }
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: start;
                        gap: 24px;
                        // 標題外框
                        .titleBox{
                            display: flex;
                            flex-direction: column;
                            gap: 12px;
                            // 標題
                            .titleSet{
                                font-weight: 700;
                                color: #ffffff;
                                font-size:24px;
                            }
                            // 標題

                            // 時間
                            .timeSet{
                                font-weight: 500;
                                color: #ffaad7;
                                font-size: 16px;
                            }
                            // 時間
                        }
                        // 標題外框

                        // 文字外框
                        .textBox{
                            display: flex;
                            flex-direction: column;
                            // 文字
                            .textSet{
                                font-weight: 500;
                                color: #ffffff;
                            }
                            // 文字
                        }
                        // 文字外框

                        //按鈕
                        .main5CardBtnSet{
                            padding: 8px 16px;
                            width:fit-content;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: auto 0 0 auto;
                            @media (max-width: 768px){
                                margin: auto auto 0 auto;
                            }
                        }
                        //按鈕
                    }
                    //輪播文字外框
                }
                //輪播卡片設定 
            }
            // 輪播本體
            
            // swiper左右按鈕
            .swiperBtnBox{
                &:hover{
                    .swiperNextRBtn,.swiperNextLBtn{
                        // hover 時停止
                        animation-play-state: paused; 
                    }
                }

                //swiper左右按鈕設定
                .swiperNextRBtn,.swiperNextLBtn{
                    position: absolute;
                    display: none;
                    top: 50%;
                    z-index: 500;
                    filter: drop-shadow(0 0 10px #E22288) drop-shadow(0 0 40px #E22288);
                    
                    &:hover{
                        filter: drop-shadow(0 0 10px #E22288) drop-shadow(0 0 40px #E22288) drop-shadow(0 0 40px #E22288);
                    }

                    
                }
                .swiperNextRBtn{
                    display: block;
                    right: 24px;
                    // 預設做左右擺動動畫
                    animation: moveRightSide 1.5s ease-in-out infinite;
                    @media (max-width: 576px){
                        right: 10px;
                    }

                    //左右移動的 keyframes
                    @keyframes moveRightSide {
                        0%   { transform: translateX(0); }
                        50%  { transform: translateX(6px); }   // 向右移動
                        100% { transform: translateX(0); }
                    }
                }
                .swiperNextLBtn{
                    display: block;
                    left: 24px;
                    // 預設做左右擺動動畫
                    animation: moveLeftSide 1.5s ease-in-out infinite;
                    @media (max-width: 576px){
                        left: 10px;
                    }

                    //左右移動的 keyframes
                    @keyframes moveLeftSide {
                        0%   { transform: translateX(0); }
                        50%  { transform: translateX(-6px); }   // 向左移動
                        100% { transform: translateX(0); }
                    }
                }
                //swiper左右按鈕設定
            }
            // swiper左右按鈕
        }
        // 輪播最外框

        .mian5CheckSmBtnSet{
            font-size: 24px;
            padding: 24px 88px;
            @media (max-width: 992px){
                padding: 12px 48px;
            }
        }
    }
    // 元件外框
}
// 元件最外框

