


.navLink{
    padding: 12px 8px 9px 8px;
    border-bottom:3px solid transparent;
    &:hover{
        border-bottom:3px solid #E22288;
    }

    &.active{
        border-bottom:3px solid #E22288;
    }
}
